@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,600');


body{
  margin: 0;
  padding: 0;
  background-color:#f2ffe8;
 
  font-family: 'Ubuntu', sans-serif;
}

#login .container #login-row #login-column #login-box {
  margin-top: 70px;
  max-width: 600px;
  height: 300px;
  box-shadow: 2px 2px 2px 2px #747375;
  border-radius: 3px;
  align-items: center;
}
#login img{
 height: 120px;
 width: auto;

 align-items:inherit;
}

input[type="submit"]:hover {
  background:  #a4d929;
}

.input-group > p{
  color: #2a0fa6;
  text-align: center;
  font-size: 12px;
  
}